/* chopper.table 样式模块 */

.ui-table{
    display: inline-block;
    overflow-x: auto;
}

.ui-table-side,
.ui-table-main,
.ui-table-item,
.ui-table-topitem{
    float: left;
}

.ui-table:after,
.ui-table-column:after,
.ui-table-topitem .ui-table-top:after,
.ui-table-topitem .ui-table-middle:after{
    content: '\0020';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.ui-table-side{
    
}
.ui-table-main{
    
}

.ui-table-column .ui-table-item:first-child{
    border-left-width: 1px;
}
.ui-table-column .ui-table-side .ui-table-item:last-child{
    border-right-width: 0;
}
.ui-table-head .ui-table-item{
    border-top-width: 1px;
}

.ui-table-item{
    border-color: #ccc;
    border-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    display: table;
}
.ui-table-item-main{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.ui-table-item-box{
    width: 100px;
}
.ui-table-item-center{
    display: inline-block;
    text-align: left;
    max-width: 100%;
}